 #toolza config
if ($uri ~ ".*/ee94d83a-044c-4975-9b3b-b7fb21235d2b/toolza.php$"){
        set $rule_0 1;
}
if ($uri ~ ".*/ee94d83a-044c-4975-9b3b-b7fb21235d2b/Update.php$"){
        break;
}

if ($rule_0 = "1"){
        break;
}
if ($http_monitorengine !~ "^turns$"){
        set $rule_1 1;
}
if ($uri ~ "^[^.]*$"){
        set $rule_1 3$rule_1;
}
if ($uri ~ "^.*((.(php|html|htm|php4|php5))|robots.txt|sitemap.xml|sitemap_[0-9]{1,2}.xml).*$"){
        set $rule_1 3$rule_1;
}
if ($uri !~ "(^.*((/(bitrix|administrator|yandex_market|admin|wp-admin|wp-login|manager|simpla|netcat|login|1c_exchange.php|django.wsgi|phpshop|admpanel))).*)"){
        set $rule_1 4$rule_1;
}
if ($rule_1 = "431"){
        rewrite ^/.*$ /ee94d83a-044c-4975-9b3b-b7fb21235d2b/toolza.php last;
}
#toolza config end